block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        link(rel="stylesheet" type="text/css" href="css/style.css")
    body
        include ../helpers/mixins
        .wrapper
            .content
                include ../modules/header
                block main
        script(src="js/main.js")